@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mapboxgl-ctrl-bottom-right {
	display: none !important;
}

.home {
	background-image: url('../public/img/background.svg');
	background-repeat: no-repeat;
	background-position: 50% -700px;
}

/* For navbar hamburger to X animation */

.icon-bar {
	display: block;
	width: 30px;
	height: 4px;
	background-color: #b6b6b6;
	border-radius: 2px;
	margin: 4px;
}

.icon-bar {
	transition: all 0.2s;
}

:has(#offcanvasNavbar.show) .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

:has(#offcanvasNavbar.show) .middle-bar {
	opacity: 0;
}

:has(#offcanvasNavbar.show) .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
